body {background-color:white;}
p {color: brown;
   font-weight:bold;
} 


h1{color:brown;}

ol{
    text-align:center;
   color:brown;
   font-family:'Times New Roman',sans-serif serif; 
}
li{
    text-align:left;
    font-weight:bold;
}
.center{text-align:center;color:brown;font-size:32px;}
.left{text-align:left;color:brown;font-size:32px;}
.right{text-align:right;color:brown;font-size:32px;}
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

            font-family: 'Inter', sans-serif;
            scroll-behavior: smooth;
        }
        .maroon {
            color: #800000;
        }

        .bg-maroon {
            background-color: #800000;
        }

        .text-maroon {
            color: #800000;
        }

        .border-maroon {
            border-color: #800000;
        }
        .transition-all {
            transition: all 0.3s ease;
        }
}

.video{
    text-align:center;
}